body {
  background-color: #7B1FA2;
  color: #FFF
}

a:link {
  color: #FFF
}
a:visited {
  color: #FFF
}
a:hover {
  color: #FFF
}
a:active {
  color: #FFF
}

div.header {
  display: inline-block;
  margin: auto;
  text-align: center;
  height: 100vw;
  width: 100vw;
}

#header[data-fixed] {
  position: absolute;
  width: 100vw;
  top: 50px;
}

div.fixheader {
  display: block;
}
ul.fixheader {
  padding:0;
  font-size:0px;
  text-align: center;
  vertical-align: middle;
}

ul.fixheader li {
  width:10vw;
  border-bottom:0;
  display: inline-block;
  font-size:16px;
  padding: 10,0;
}

ul.fixheader li.selected {
  width:10vw;
  border-bottom:2px solid #FFF;
  display: inline-block;
  font-size:16px;
}

ul.fixheader li a {
  display: block;
}

section.content {
  height: 100vw;
}
